body{    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Times, serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('media/background.gif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;        
    height: 215vh;    
    padding:0;
    margin:0;
}
video{
    border: 6px solid black;
    margin-bottom: 20px;
}
img{
    margin: 0px 600px 0px 550px;    
    padding-bottom: 50px;    
    
}
.banner1{    
    width: 600px;
    height: 500px;
    margin: 20px auto 60px auto;
    text-align: left;  
    
}
.banner2{
    width: 600px;
    height: 600px;
    margin: 250px auto 240px auto;
    text-align: left; 
}
.text{
    border-bottom: 4px solid black;
    font-size: 50px;
    background-color:rgb(14, 10, 10, 0.7);      
    border-radius: 10px 25px;    
    padding: 10px 6px 3px 5px;    
    text-align: center;    
    -webkit-text-fill-color: white;
    margin: 20px auto;   
}
.line1{
    Border-top: 3px solid black;
    margin: 10px auto;
    text-align: center;
}
.line2{
    Border-top: 3px solid black;
    margin: 10px auto;
    text-align: center;
    margin-top: 20px;
}
.texto-destaque1 {
    border-left: 4px solid black;
    font-size: 35px;
    text-align: right;    
    -webkit-text-fill-color: white;
    margin: 20px 10px 20px auto;
}
.texto-destaque2 {
    border-left: 4px solid black;
    font-size: 35px;
    text-align: right;    
    -webkit-text-fill-color: white;
    margin: 20px 10px 20px auto;
}
.rodape{    
    font-size: 35px;
    text-align: center;    
    -webkit-text-fill-color: white;  
     margin-left: 700px;
}